<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="info" packages="com.sankuai.meituan.waimai.util.log4j2">
    <Appenders>
        <Console name="CONSOLE" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{DEFAULT} [%t] %-5p (%C{1}:%L) - %m%n" charset="UTF-8"/>
        </Console>

        <RollingRandomAccessFile name="logfile" fileName="logs/effyroth_web.log" immediateFlush="false" filePattern="logs/effyroth_web.log.%d{yyyy-MM-dd}">
            <PatternLayout pattern="%d{DEFAULT} %t %-5p (%C{1}:%L) - %m%n" charset="UTF-8"/>
            <Policies>
                <TimeBasedTriggeringPolicy/>
                <!--<SizeBasedTriggeringPolicy size="100 MB"/>-->
            </Policies>
            <MaxDayFileRolloverStrategy max="10" lazy="true"/>
        </RollingRandomAccessFile>

    </Appenders>

    <Loggers>

        <!--Application Logger-->
        <AsyncLogger name="com.effyroth" level="debug" includeLocation="true" additivity="false">
            <AppenderRef ref="logfile"/>
            <AppenderRef ref="CONSOLE"/>
        </AsyncLogger>


        <!-- Root Logger -->
        <AsyncRoot level="info" includeLocation="true" additivity="false">
            <AppenderRef ref="logfile"/>
        </AsyncRoot>
    </Loggers>


</Configuration>